@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  color: $neutral-900;
  background-color: $neutral-100;

  @media screen and (min-width: $bp-medium) {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-size: 1.0625rem;
  border-color: transparent;
  border-radius: 7.5px;
}

a, button {
  cursor: pointer;
}
