@import './base.scss';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#app {
  flex-grow: 1;
}
.page-wrapper {
  padding: 50px 0;
}
footer {
  padding: 10px 15px;
  margin-top: 20px;
  text-align: center;
}



/* Card */
.card {
  background-color: $neutral-000;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 1px 10px -5px $neutral-400;
  margin-bottom: 20px;
}


/* Button colors */
@mixin btn-theme($color: "neutral") {
  color: $neutral-000;
  background-color: map.get($theme-colors, $color);

  svg {
    fill: $neutral-000;
  }

  &:hover {
    background-color: map.get($theme-colors-soft, $color)
  }

  &.flat-btn {
    color: map.get($theme-colors, $color);
    background-color: transparent;
    text-transform: unset;
    font-weight: 500;
    padding: 5px 10px;

    svg {
      fill: map.get($theme-colors, $color);
    }

    &:hover {
      // background-color: #{$color}33;
      color: map.get($theme-colors-soft, $color);

      svg {
        fill: map.get($theme-colors-soft, $color);
      }
    }
  }
}
button {
  @include btn-theme;

  & {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 7.5px 20px;
    transition: all 0.3s linear;
  }
  svg {
    transition: fill 0.3s linear;
  }

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    @include btn-theme($color: "primary");
  }
  &.primary-inverse {
    @include btn-theme($color: "primary-inverse");
  }
  &.danger {
    @include btn-theme($color: "danger");
  }
}