@import './base.scss';


/* Card */
.card {
  background-color: $neutral-000;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 1px 10px -5px $neutral-400;
}


/* Button colors */
@mixin btn-theme($color: "neutral") {
  color: $neutral-000;
  background-color: map.get($theme-colors, $color);

  &:hover {
    background-color: map.get($theme-colors-soft, $color)
  }

  &.flat-btn {
    color: map.get($theme-colors, $color);
    background-color: transparent;
    text-transform: unset;
    font-weight: 600;
    padding: 5px 10px;

    &:hover {
      // background-color: #{$color}33;
      color: map.get($theme-colors-soft, $color);
    }
  }
}
button {
  @include btn-theme;

  & {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 7.5px 20px;
  }

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    @include btn-theme($color: "primary");
  }
  &.primary-inverse {
    @include btn-theme($color: "primary-inverse");
  }
  &.danger {
    @include btn-theme($color: "danger");
  }
}