/*
Primary
Moderate blue: hsl(238, 40%, 52%)
Soft Red: hsl(358, 79%, 66%)
Light grayish blue: hsl(239, 57%, 85%)
Pale red: hsl(357, 100%, 86%)
Neutral
Dark blue: hsl(212, 24%, 26%)
Grayish Blue: hsl(211, 10%, 45%)
Light gray: hsl(223, 19%, 93%)
Very light gray: hsl(228, 33%, 97%)
White: hsl(0, 0%, 100%)
*/

/* Primary colors */
$color-primary: #5457b6;
$color-primary-soft: #c3c4ef;
$color-danger: #ed6468;
$color-danger-soft: #ffb8bb;
$color-success: #2ed573;
$color-success-soft: #7bed9f;

/* Neutral colors */
$neutral-900: #324152;
$neutral-700: #67727e;
$neutral-400: #eaecf1;
$neutral-100: #f5f6fa;
$neutral-000: #FFFFFF;

$theme-colors: (
  "neutral": $neutral-700,
  "primary": $color-primary,
  "primary-inverse": $color-primary-soft,
  "danger": $color-danger,
  "success": $color-success,
);
$theme-colors-soft: (
  "neutral": $neutral-400,
  "primary": $color-primary-soft,
  "primary-inverse": $color-primary,
  "danger": $color-danger-soft,
  "success": $color-success-soft
);


/* Responsive breakpoints */
$bp-small: 767px;
$bp-medium: 992px;
$bp-large: 1201px;


