/*
Primary
Moderate blue: hsl(238, 40%, 52%)
Soft Red: hsl(358, 79%, 66%)
Light grayish blue: hsl(239, 57%, 85%)
Pale red: hsl(357, 100%, 86%)
Neutral
Dark blue: hsl(212, 24%, 26%)
Grayish Blue: hsl(211, 10%, 45%)
Light gray: hsl(223, 19%, 93%)
Very light gray: hsl(228, 33%, 97%)
White: hsl(0, 0%, 100%)
*/

/* Primary colors */
$color-primary: #5457b6;
$color-primary-soft: #c3c4ef;
$color-danger: #ed6468;
$color-danger-soft: #ffb8bb;

/* Neutral colors */
$neutral-900: #324152;
$neutral-700: #67727e;
$neutral-500: #eaecf1;
$neutral-300: #f5f6fa;
$neutral-000: #FFFFFF;





